.flip-clock {
  --fcc-flip-duration: 0.5s; /* transition duration when flip card */
  --fcc-digit-block-width: 40px; /* width of digit card */
  --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
  --fcc-digit-font-size: 30px; /* font size of digit */
  --fcc-digit-color: white; /* color of digit */
  --fcc-label-font-size: 10px; /* font size of label */
  --fcc-label-color: #ffffff; /* color of label */
  --fcc-background: black; /* background of digit card */
  --fcc-divider-color: white; /* color of divider */
  --fcc-divider-height: 1px; /* height of divider */
  --fcc-separator-size: 6px; /* size of colon */
  --fcc-separator-color: red; /* color of colon */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
    color: white;
}

.page{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.page h3 {
    font-weight: 300;
    max-width: 400px;
    margin-bottom: 3rem;
}

.btn{
    width: 180px;
    height: 64px;
    background: white;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-top: 3rem;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    .page h1{
        font-size: 4rem;
    }

    .page h3 {
        max-width: 600px;
    }

    .flip-clock {
         --fcc-digit-block-width: 80px; /* width of digit card */
  --fcc-digit-block-height: 120px; /* height of digit card, highly recommend in even number */
  --fcc-digit-font-size: 60px; /* font size of digit */
  --fcc-digit-color: white; /* color of digit */
  --fcc-label-font-size: 20px; /* font size of label */

    }
}